  .navbar-nav .nav-link {
            color: inherit; /* Menggunakan warna teks default */
            transition: color 0.3s; /* Menambahkan transisi halus */
        }

        .navbar-nav .nav-link:hover {
            color: green; /* Mengubah warna teks menjadi merah saat dihover */
        }
        .navbar-nav .nav-link.active {
    color: green; /* Mengubah warna teks menjadi merah saat aktif */
}
